.at-newsletter {
	position: relative;
	background: url(../img/newsletter-bg.png) center center no-repeat;
	padding: 15px;
	background-size: cover;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(7,92,141,0.4);
	}
}
.at-newsletter-inner {
	position: relative;
	z-index: 10;
	background: rgba(0,0,0,0.38);
	border: 1px solid #304855;
	padding: 10px 10px 13px;
	border-radius: 5px;
}
.newsletter-title {
	display: flex;
	align-content: center;
	h5 {
		font: bold 26px/26px Montserrat,sans-serif;
		color: #ffe600;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 17px;
		&::before {
			content: '';
			position: absolute;
			height: 4px;
			width: 38px;
			bottom: -8px;
			background-color: #ffe600;
		}
		span {
			font: 600 18px/18px Montserrat,sans-serif;
			display: block;
		}
	}
}
.ml-tagline {
	font: 600 13px/16px 'Open Sans',sans-serif;
	color: #ccc;
	margin-bottom: 8px;
}
.at-form-group {
	margin-bottom: 5px;
	input[type='text'] {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		color: #fff;
		width: 100%;
		height: 32px;
		font: 600 14px/18px 'Open Sans',sans-serif;
		background: url(../img/formusericon.png) calc(100% - 12px) center no-repeat;
		outline: none;
	}
	input[type='email'] {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		color: #fff;
		width: 100%;
		height: 32px;
		font: 600 14px/18px 'Open Sans',sans-serif;
		background: url(../img/mailicon.png) calc(100% - 8px) center no-repeat;
		outline: none;
	}
	select {
		width: 100%;
		height: 30px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		color: #fff;
		font: 600 14px/18px 'Open Sans',sans-serif;
		background: url(../img/downCaret.png) calc(100% - 15px) center no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		option {
			color: #000;
			padding: 0 10px;
		}
	}
	input {
		&::-webkit-input-placeholder {
			color: #fff;
			font-weight: 700;
		}
		&::-moz-placeholder {
			color: #fff;
			font-weight: 700;
		}
		&:-ms-input-placeholder {
			color: #fff;
			font-weight: 700;
		}
		&:-moz-placeholder {
			color: #fff;
			font-weight: 700;
		}
	}
}
.at-checkbox {
	line-height: 15px;
	display: flex;
	margin-bottom: 17px;
	margin-top: 2px;
}
#at-agree {
	font: 400 11px/15px 'Open Sans',sans-serif;
	color: #fff;
	padding-left: 13px;
}
.at-input-check {
	input {
		position: relative;
		top: 3px;
		height: 17px;
		width: 17px;
	}
}
.submit-btn {
	text-align: center;
	input {
		width: 118px;
		height: 31px;
		background-color: #ffe600;
		color: #002866;
		font: 700 16px/18px 'Open Sans',sans-serif;
		border: none;
		border-radius: 3px;
	}
}
